body {
    
	  text-align: center;
    
	}

div { 
    
    margin-top: 15px; 
    
}

img {
    
    height: 300px;
    width: 350px;
    
}

.image-section {
    
	  display: flex;
	  justify-content: center;
    
}

.section-style {
    
	  margin-right: 25px;
	  margin-left: 25px;
	  background-color: #5FDD9D;
	
}